<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Filtros -->
    <filter>
        <filter-class>filtros.AdministradorFilter</filter-class>
        <filter-name>AdministradorFilter</filter-name>
    </filter>
    <filter-mapping>
        <filter-name>AdministradorFilter</filter-name>
        <url-pattern>/administrador/*</url-pattern>
    </filter-mapping>
    <!-- Inicio da Aplicacao -->
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.acesso.InicioServlet</servlet-class>
    </servlet>
    <!-- Login e Logout -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.acesso.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.acesso.LogoutServlet</servlet-class>
    </servlet>
    <!-- Inserir Novo Cliente -->
    <servlet>
        <servlet-name>InserirClienteServlet</servlet-name>
        <servlet-class>controle.usuario.InserirClienteServlet</servlet-class>
    </servlet>
    <!-- Carrinho de Compras -->
    <servlet>
        <servlet-name>AdicionarItemCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinhocompras.AdicionarItemCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverItemCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinhocompras.RemoverItemCarrinhoServlet</servlet-class>
    </servlet>
    <!-- Cadastro de Produtos -->
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>controle.produto.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.FormCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.RemoverCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.SalvarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormProdutoServlet</servlet-name>
        <servlet-class>controle.produto.FormProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.SalvarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.produto.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarFotoProdutoServlet</servlet-name>
        <servlet-class>controle.produto.MostrarFotoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProdutosFaltantesEmEstoqueServlet</servlet-name>
        <servlet-class>controle.relatorios.RelatorioProdutosFaltantesEmEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.deletarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarDadosServlet</servlet-name>
        <servlet-class>controle.usuario.atualizarDadosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirClienteServlet</servlet-name>
        <url-pattern>/InserirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarItemCarrinhoServlet</servlet-name>
        <url-pattern>/AdicionarItemCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverItemCarrinhoServlet</servlet-name>
        <url-pattern>/RemoverItemCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/administrador/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/administrador/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <url-pattern>/administrador/FormCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <url-pattern>/administrador/RemoverCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <url-pattern>/administrador/SalvarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormProdutoServlet</servlet-name>
        <url-pattern>/administrador/FormProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <url-pattern>/administrador/SalvarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/administrador/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFotoProdutoServlet</servlet-name>
        <url-pattern>/MostrarFotoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProdutosFaltantesEmEstoqueServlet</servlet-name>
        <url-pattern>/administrador/RelatorioProdutosFaltantesEmEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletarUsuarioServlet</servlet-name>
        <url-pattern>/deletarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarDadosServlet</servlet-name>
        <url-pattern>/atualizarDadosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
